EXPO_PUBLIC_APP_ENV=local
EXPO_PUBLIC_API_URL=http://localhost:3000
EXPO_PUBLIC_ANDROID_API_URL=http://10.0.2.2:3000
EXPO_PUBLIC_LOG_LEVEL=debug
EXPO_PUBLIC_SUPPORT_EMAIL=contato@elodoar.local
EXPO_PUBLIC_SUPPORT_WHATSAPP=5581999999999
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=

EXPO_PUBLIC_DEV_DONOR_EMAIL=dev.doador@elodoar.local
EXPO_PUBLIC_DEV_DONOR_PASSWORD=12345678

EXPO_PUBLIC_DEV_INSTITUTION_EMAIL=dev.instituicao@elodoar.local
EXPO_PUBLIC_DEV_INSTITUTION_PASSWORD=12345678

EXPO_PUBLIC_DEV_ADMIN_EMAIL=dev.admin@elodoar.local
EXPO_PUBLIC_DEV_ADMIN_PASSWORD=12345678
