EXPO_PUBLIC_API_URL=http://localhost:3000

EXPO_PUBLIC_DEV_DONOR_EMAIL=dev.doador@elodoar.local
EXPO_PUBLIC_DEV_DONOR_PASSWORD=12345678

EXPO_PUBLIC_DEV_INSTITUTION_EMAIL=dev.instituicao@elodoar.local
EXPO_PUBLIC_DEV_INSTITUTION_PASSWORD=12345678

EXPO_PUBLIC_DEV_ADMIN_EMAIL=dev.admin@elodoar.local
EXPO_PUBLIC_DEV_ADMIN_PASSWORD=12345678
